

/** {
    font-family: 'Chakra Petch', sans-serif;
}
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  height: 100%;*/ /* Ensure html and body take full height */
/*}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;*/ /* Ensure the body takes at least full viewport height */
  /*margin: 0;
}

.container {
  flex: 1;*/ /* This makes the container take up the remaining space */
/*}

footer {
  text-align: center;
  margin-top: auto;*/ /* Ensures footer stays at the bottom of the page */
  /*padding: 10px;
}


button {
    z-index: 9999;
    position: relative;*/ /* Ensure the button is placed properly */
/*}*/

/** {
    font-family: 'Chakra Petch', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    background-color: #1c0639;*/ /* Dark background color */
/*}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: #00d9ff;
}

.text-danger {
    color: #ff5252 !important;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: block;
}

.form-label {
    color: #00d9ff;
    font-weight: bold;
}

.form-control, .form-select {
    background-color: #341f71;
    color: #ffffff;
    border: 1px solid #5f5b97;
}

    .form-control::placeholder,
    .form-select option {
        color: #9b84cc;
    }

.form-text {
    color: #00d9ff;
    font-size: 0.85rem;
}

button {
    z-index: 9999;
    position: relative;
}

.btn-info {
    background-color: #00d9ff;
    border-color: #00d9ff;
    color: black;
}

    .btn-info:hover {
        background-color: #00bfff;
        border-color: #00bfff;
    }*/

* {
    font-family: 'Chakra Petch', sans-serif;
}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*start custom style*/

.Caver-review {
    max-height: 500px;
    border-radius: 8px;
    /*    max-width:800px;*/
}
.btn-add-category, .btn-add-device {
    background-color: #ff00ff; /* اللون الأساسي */
    color: white;
    font-weight: bold;
    padding: 10px 20px; /* تصغير التباعد الداخلي */
    font-size: 0.9rem; /* تصغير حجم الخط */
    border-radius: 30px; /* نصف قطر الزوايا مع الحفاظ على الأزرار المستديرة */
    border: none;
    display: inline-block;
    text-transform: uppercase;
    transition: none; /* إزالة تأثير التحويم */
}

    .btn-add-category i, .btn-add-device i {
        margin-right: 6px; /* تقليل المسافة بين الأيقونة والنص */
    }

    .btn-add-category:hover, .btn-add-device:hover {
        background-color: #ff00ff; /* بدون تأثير التحويم */
        color: white; /* يظل النص أبيض */
        transform: none; /* إزالة التحريك */
    }
