 @model GameZone.PL.ViewModels.CreateGameFormViewModel

@{
    ViewData["Title"] = "Add Game";
}

<h5 class="text-info">
    <i class="bi bi-plus-circle-dotted"></i>
    Add a new game   
</h5>

<form asp-controller="Games" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CaregoryId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CaregoryId" asp-items="Model.Categories">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="CaregoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedDevices" class="form-label mt-4"></label>
                <select class="form-select h-25" asp-for="SelectedDevices" asp-items="Model.Devices" multiple>
                    <option value="">Select devices</option>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cover" class="form-label mt-4"></label>
                <input asp-for="Cover" type="file" class="form-control">
                <small class="form-text">Only .jpg, .jpeg, .png files are allowed with max size 1MB</small>
                <span asp-validation-for="Cover" class="text-danger d-block"></span>
            </div>

            <button type="submit" class="btn btn-info btn-lg text-black mt-4">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
